<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1><%= l(:edit_asset_group) %></h1>
        </div>
        <div class="inner-container">
            <%= form_for @asset_group, :url => { :action => "update", :id => @asset_group } do |f| %>
                <%= render :partial => 'edit_asset_group_image', :locals => { :asset_group => @asset_group, :user => @user, :edit_enabled => true } %>
                <div class="asset-properties">
                    <table id="rounded-corner" summary="Asset Properties">
                              <thead>
                                  <tr>
                                      <th scope="col" class="rounded-company"><%= l(:property) %></th>
                                      <th scope="col" class="rounded-q1"><%= l(:value) %></th>
                                  </tr>
                              </thead>
                                  <tfoot>
                                  <tr>
                                      <td class="rounded-foot-left">&nbsp;</td>
                                      <td class="rounded-foot-right">
                                        <%= submit_tag l(:save) %>
                                      </td>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td><%= l(:name) %></td>
                                      <td><%= f.text_field :name %></td>

                                  </tr>
                                  <tr>
                                      <td><%= l(:description) %></td>
                                      <td><%= f.text_field :description %></td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_types", :action => "index" %>
                                        <%= l(:asset_type) %>:
                                      </td>
                                      <td><%= f.collection_select :asset_type_id, AssetType.all, :id, :name %> <%= l(:or) %> <%=  link_to "Add new.", :controller => "asset_types", :action => "new", :asset_id => @asset_group %></td>
                                  </tr>                                 
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_groups", :action => "edit_attachments", :id => @asset_group %>
                                        <%= l(:attachments) %>
                                      </td>
                                      <td align='left'>
                                        &nbsp;
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <%= l(:assets_in_this_group) %>
                                    </td>
                                    <td id='assets_in_group'>
                                      <%= render :partial => 'assets_in_group', :locals => { :asset_group => @asset_group } %>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                </div>
            <% end %>
            <br class="clear-both" />
            <% content_for :header_tags do %>
                <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
            <% end %>
        </div>
    </div>
</div>