<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1>Edit Asset Group</h1>
        </div>
        <div class="inner-container">
            <% form_for :asset, @asset_group, :url => { :action => "update", :id => @asset_group } do |f| %>
                <%= render :partial => 'edit_asset_group_image', :locals => { :asset_group => @asset_group, :user => @user, :edit_enabled => true } %>
                <div class="asset-properties">
                    <table id="rounded-corner" summary="Asset Properties">
                              <thead>
                                  <tr>
                                      <th scope="col" class="rounded-company">Property</th>
                                      <th scope="col" class="rounded-q1">Value</th>
                                  </tr>
                              </thead>
                                  <tfoot>
                                  <tr>
                                      <td class="rounded-foot-left">&nbsp;</td>
                                      <td class="rounded-foot-right">
                                        <%= submit_tag 'Save changes' %>
                                      </td>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td>Name:</td>
                                      <td><%= f.text_field :name %></td>

                                  </tr>
                                  <tr>
                                      <td>Description:</td>
                                      <td><%= f.text_field :description %></td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_types", :action => "index" %>
                                        Asset type:
                                      </td>
                                      <td><%= f.collection_select :asset_type_id, AssetType.all, :id, :name %> or <%=  link_to "Add new.", :controller => "asset_types", :action => "new", :asset_id => @asset_group %></td>
                                  </tr>                                 
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_groups", :action => "edit_attachments", :id => @asset_group %>
                                        Attachments:
                                      </td>
                                      <td align='left'>
                                        &nbsp;
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      Assets in this group:
                                    </td>
                                    <td>
                                      <% @asset_group.assets.each do |g| %>
                                        <%= link_to g.name, :controller=> 'assets', :action=>'edit', :id=>g %> <br />
                                      <% end %>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                </div>
            <% end %>
            <br class="clear-both" />
            <% content_for :header_tags do %>
                <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
            <% end %>
        </div>
    </div>
</div>