<h1 style="color:#507AAA">
  New Asset Group:
</h1>

<%= form_remote_for :asset_group, @asset_group, :loading => 'facebox.loading()' , :url => { :action => "create", :id => @asset_group.id, :asset_id => @asset_id } do |f| %>
    <table>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag "/images/sticky.png", :border=>0, :alt=>l(:manage) %>
            <%= l(:asset_type) %>
        </td>
        <td id='asset_types_td'>
            <%= render :partial => 'asset_types/asset_types_dropdown_for_groups', :locals => { :asset_group => @asset_group } %>
        </td>
      </tr>
      <tr>
        <td>
          <%= l(:description) %>
        </td>
        <td>
          <%= f.text_area :description, :size=>"23x10" %>
        </td>
      </tr>
      <tr>
        <td colspan='2' align='right'>
          <%= f.submit l(:create) %>
        </td>
      </tr>
    </table>
    <script>
      facebox.initialize();
    </script>
<% end %>