<% asset_types.each do |asset_type| %>
    <p class="asset-type-title">
        <%= asset_type.name %>
        <%= link_to image_tag("/images/edit.png", :border=>0, :alt=>"edit"), :controller => "asset_types", :action => "edit", :id => asset_type %>
        <%= link_to image_tag("/images/delete.png", :border=>0, :alt=>"delete"), :controller => "asset_types", :action => "delete", :id => asset_type %>
    </p>

    <table id="rounded-corner-index" summary="Asset Properties">
        <thead>
            <tr>
                <th scope="col" class="rounded-company"><%= l(:name) %></th>
                <th scope="col" class="rounded-q2"><%= l(:description) %></th>
                <th scope="col" class="rounded-q1"><%= l(:options) %></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="rounded-foot-left">&nbsp;</td>
                <td class="rounded-foot-right">
                    <% if user.admin %>
                        <%= image_tag "/images/add.png", :alt => l(:add_new) %>
                        <%= link_to l(:new_asset), {:controller => "assets", :action => "new"} %>
                        &nbsp;&nbsp; | &nbsp;&nbsp;
                        <%= image_tag "/images/add.png", :alt => l(:add_new) %>
                        <%= link_to l(:new_group), {:controller => "asset_groups", :action => "new"}, :rel => 'facebox' %>
                    <% end %>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <% asset_type.asset_groups.each do |asset_group| %>
                <tr id='assetgroup_<%=asset_group.id.to_s %>'>
                    <td>
                      <%= link_to_function(image_tag '/images/folder.png', :id => 'assetgroup_' + asset_group.id.to_s + '_folder') do |page|
                            page.visual_effect(:toggle_blind, 'assetgroup_' + asset_group.id.to_s + '_contents')
                          end %>
                      &nbsp; <label><%= asset_group.name %></label> (<%= asset_group.assets.length %> assets)

                      <% if user.admin %>
                        <%= drop_receiving_element('assetgroup_' + asset_group.id.to_s, :url =>
                            { :controller => "asset_groups", :action => "add_asset" }, :with => "'asset_group_id=" + asset_group.id.to_s + "&asset_id=' + element.id.split('_')[1]", :hoverclass => 'droppable') %>
                      <% end %>
                      <div id='assetgroup_<%=asset_group.id.to_s %>_contents' style='<%= open_group.to_i == asset_group.id ?  'display:block;' : 'display:none;' %> padding-left:50px;'>
                        <% asset_group.assets.each do |a| %>
                            <%= link_to_remote image_tag("/images/delete.png", :border=>0, :alt=>"delete"), :url => {:controller => "asset_groups", :action => "remove_asset", :asset_id => a, :id => asset_group}, :confirm => l(:confirm) %>
                            <% if User.current.admin %>
                                <%= link_to a.name, :controller=> 'assets', :action=>'edit', :id=>a %>
                            <% else %>
                                <%= link_to a.name, :controller=> 'assets', :action=>'show', :id=>a %>
                            <% end %>
                            <br />
                        <% end %>
                      </div>
                    </td>
                    <td><%= asset_group.description %></td>
                    <td>
                        <%= link_to image_tag("/plugin_assets/redmine_asset_tracker/images/show.png", :border=>0, :alt=>l(:show)), :controller => "asset_groups", :action => "show", :id => asset_group %>
                        <%= link_to image_tag("/images/time_add.png", :border=>0, :alt=>l(:reserve)), {:controller => "reservations", :action => "new", :id => asset_group, :object_type => "AssetGroup"}, :rel => "facebox" %>
                        <%= link_to image_tag("/images/calendar.png", :border=>0, :alt=>l(:reservations)), {:controller => "reservations", :action => "show_by_bookable", :bookable_id => asset_group, :bookable_type => "AssetGroup"}, :rel => "facebox" %>
                        <% if user.admin %>
                          <%= link_to image_tag("/images/edit.png", :border=>0, :alt=>l(:edit)), :controller => "asset_groups", :action => "edit", :id => asset_group %>
                          <%= link_to_remote image_tag("/images/delete.png", :border=>0, :alt=>l(:delete)), :url => {:controller => "asset_groups", :action => "delete", :id => asset_group},
                                                                                                                :confirm => l(:confirm) %>
                        <% end %>
                        <% if @user %>

                            <% if favourites_asset_group.include?(asset_group.id) then %>
                                
                                <%= link_to image_tag("/images/fav.png", :border=>0, :alt=>"mark favourite", :id=>'mark_group_'+asset_group.id.to_s), { :controller =>"favourites", :action => "mark_as_favourite", :id => asset_group, :type=> 'AssetGroup' } , :remote=> true %>
                            <% else %>

                                <%= link_to image_tag("/images/fav_off.png", :border=>0, :alt=>"mark favourite",  :id=>'mark_group_'+asset_group.id.to_s), { :controller =>"favourites", :action => "mark_as_favourite", :id => asset_group, :type=> 'AssetGroup' }, :remote=> true %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            <% asset_type.assets.each do |asset| %>
                <% if asset.asset_group_id == nil %>
                    <tr>
                        <td>
                          <%= image_tag '/images/package.png' %> &nbsp; <label style='cursor: -moz-grab;' id='asset_<%= asset.id.to_s %>' name='<%= asset.id.to_s %>'><%= asset.name %></label>
                          <% if user.admin %>
                            <%= draggable_element 'asset_' + asset.id.to_s, :revert => true %>
                          <% end %>
                        </td>
                        <td><%= asset.description %></td>
                        <td>
                            <%= link_to image_tag("/plugin_assets/redmine_asset_tracker/images/show.png", :border=>0, :alt=>l(:show)), :controller => "assets", :action => "show", :id => asset %>
                            <%= link_to image_tag("/images/time_add.png", :border=>0, :alt=>l(:reserve)), {:controller => "reservations", :action => "new", :id => asset, :object_type => "Asset"}, :rel => "facebox" %>
                            <%= link_to image_tag("/images/calendar.png", :border=>0, :alt=>l(:edit)), {:controller => "reservations", :action => "show_by_bookable", :bookable_id => asset, :bookable_type => "Asset"}, :rel => "facebox" %>
                            <% if user.admin %>
                              <%= link_to image_tag("/images/edit.png", :border=>0, :alt=>l(:edit)), :controller => "assets", :action => "edit", :id => asset %>
                              <%= link_to_remote image_tag("/images/delete.png", :border=>0, :alt=>l(:delete)), :url => {:controller => "assets", :action => "delete", :id => asset},
                                                                                                                 :confirm => l(:confirm) %>
                            <% end %>
                            <% if @user %>

                                <% if favourites_asset.include?(asset.id) then %>
                                
                                    <%= link_to image_tag("/images/fav.png", :border=>0, :alt=>"mark favourite", :id=>'mark_'+asset.id.to_s), { :controller =>"favourites", :action => "mark_as_favourite", :id=> asset, :type=> 'Asset' }, :remote=> true %>
                                <% else %>

                                    <%= link_to image_tag("/images/fav_off.png", :border=>0, :alt=>"mark favourite", :id=>'mark_'+asset.id.to_s), { :controller =>"favourites", :action => "mark_as_favourite", :id=> asset, :type=> 'Asset' }, :remote=> true %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>

                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
<p class="asset-type-title">
    <%= link_to l(:add_new_category), {:controller => :asset_types, :action => :new}, :rel => 'facebox'  %>
</p>
<br /><br />

