<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1><%= l(:favourite_list) %></h1>
        </div>
        <% if @user then %>
            <div class="inner-container" id="inner_container">
                <%= render :partial => 'list_of_favourites' , :locals => { :assets => @assets, :asset_groups => @asset_groups, :user => User.current, :open_group => 0 } %>
            </div>
        <% else %>
            <div>
                <h2> No User Logged In ! </h2>
            </div>
        <% end %>
        </div>
    </div>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
    <%= stylesheet_link_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
    <%= stylesheet_link_tag 'datepicker', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'prototype-base-extensions', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'prototype-date-extensions', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'datepicker', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'asset_tracker', :plugin => 'redmine_asset_tracker' %>
<% end %>