<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1><%= l(:list_of_active_reservations) %></h1>
        </div>
        <div class="inner-container" id="inner_container">
          <%= render :partial => 'quick_search' %>
          <br/><br/>
          <div id="result">
            <%= render :partial => 'sorted_list_of_reservations', :locals => { :reservations => @reservations, :criteria => 'ASSET_NAME', :direction => 'DESC', :user => User.current } %>
          </div>
        </div>
    </div>
</div>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
    <%= stylesheet_link_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
    <%= stylesheet_link_tag 'datepicker', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'prototype-base-extensions', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'prototype-date-extensions', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'datepicker', :plugin => 'redmine_asset_tracker' %>
    <%= javascript_include_tag 'asset_tracker', :plugin => 'redmine_asset_tracker' %>
<% end %>