<h1 style="color:#507AAA">
  <%= l(:new_reservation) %>
</h1>

<%= form_remote_tag(
        :url => { :action => :create },
        :position => "top", :html => {:id => 'new_reservation_form'} ) %>

    <% if !User.current.admin %>
        <%= hidden_field_tag :user_id, User.current.id %>
    <% end %>
    <%= hidden_field_tag :bookable_type, @object_type %>
    <%= hidden_field_tag :bookable_id, @object.id %>
    <table>
      <tr>
        <td>
          <%= l(:reserving) %>
        </td>
        <td>
          <strong><%= @object.name %></strong>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag "/images/calendar.png", :border=>0, :alt=>"manage" %>
            <%= l(:check_out_date) %>
        </td>
        <td>
            <%= text_field_tag 'checkout', nil, {:class => 'datepicker'}  %>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag "/images/calendar.png", :border=>0, :alt=>"manage" %>
            <%= l(:check_in_date) %>
        </td>
        <td>
            <%= text_field_tag 'checkin', nil, {:class => 'datepicker'}  %>
        </td>
      </tr>
      <tr>
        <td>
           <%= image_tag "/images/reload.png", :border=>0, :alt=>"recurring" %>
           <%= l(:is_recurring) %>
        </td>
        <td>
          <%= check_box_tag :is_recurring %>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "/images/edit.png", :border=>0, :alt=>"recurringweeks" %>
          <%= l(:recurring_weeks) %>
        </td>
        <td>
          <%= text_field_tag :repeat_count %>
        </td>
      </tr>
      <% if User.current.admin %>
          <tr>
            <td>
                <%= image_tag "/images/user.png", :border=>0, :alt=>"manage" %>
                <%= l(:assignee) %>
            </td>
            <td>
                <%= select_tag(:user_id,
     options_from_collection_for_select(@users, :id, :name)) %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td>
          <%= image_tag "/images/wiki_edit.png", :border=>0, :alt=>"notes" %>
                <%= l(:notes) %>
        </td>
        <td>
          <%= text_area_tag 'notes', nil, :size => "18x5" %>          
        </td>
      </tr>
      <tr>
        <td colspan='2' align='right' id='next_step' style='color:red;'>
            <%= submit_tag(l(:reserve)) %>    
        </td>
      </tr>
    </table>

    <script>
      facebox.initialize();
      createPickers();
    </script>

