<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1>Edit Asset</h1>
        </div>
        <div class="inner-container">
            <% form_for :asset, @asset, :url => { :action => "update", :id => @asset } do |f| %>
                <%= render :partial => 'edit_asset_image', :locals => { :asset => @asset, :user => @user, :edit_enabled => true } %>
                <div class="asset-properties">
                    <table id="rounded-corner" summary="Asset Properties">
                              <thead>
                                  <tr>
                                      <th scope="col" class="rounded-company">Property</th>
                                      <th scope="col" class="rounded-q1">Value</th>
                                  </tr>
                              </thead>
                                  <tfoot>
                                  <tr>
                                      <td class="rounded-foot-left">&nbsp;</td>
                                      <td class="rounded-foot-right">
                                        <%= submit_tag 'Save changes' %>
                                      </td>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td>Name:</td>
                                      <td><%= f.text_field :name %></td>

                                  </tr>
                                  <tr>
                                      <td>Description:</td>
                                      <td><%= f.text_field :description %></td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_types", :action => "index" %>
                                        Asset type:
                                      </td>
                                      <td><%= f.collection_select :asset_type_id, AssetType.all, :id, :name %> or <%=  link_to "Add new.", :controller => "asset_types", :action => "new", :asset_id => @asset %></td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "asset_groups", :action => "index" %>
                                        Asset group:
                                      </td>
                                      <td id='asset_groups_td'>
                                        <%= render :partial => 'asset_groups/asset_groups_dropdown', :locals => { :asset => @asset } %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <%= link_to image_tag("/images/changeset.png", :border=>0, :alt=>"manage"), :controller => "assets", :action => "edit_attachments", :id => @asset %>
                                        Attachments:
                                      </td>
                                      <td align='left'>
                                        &nbsp;
                                      </td>
                                  </tr>
                                  <%= render :partial => 'list_asset_custom_fields', :locals => { :asset => @asset } %>
                              </tbody>
                          </table>
                </div>
            <% end %>
            <br class="clear-both" />
            <%= render :partial => 'add_asset_custom_fields', :locals => { :asset => @asset, :custom_field => @custom_field, :available_custom_fields => @available_custom_fields } %>
            <% content_for :header_tags do %>
                <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
                <%= stylesheet_link_tag 'facebox', :plugin => 'redmine_asset_tracker' %>                
            <% end %>
        </div>
    </div>
</div>