<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1>New asset</h1>
        </div>
            <br />
            <div style="float:left;">
              <% form_for :asset, @asset, :url => { :action => "create" } do |f| %>
                  <table id="rounded-corner" summary="Asset Properties">
                      <thead>
                          <tr>
                              <th scope="col" class="rounded-company" colspan="2">Create from scratch</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <td class="rounded-foot-left">&nbsp;</td>
                              <td class="rounded-foot-right">
                                  <%= submit_tag 'Create' %>
                              </td>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr>
                              <td>Name:</td>
                              <td><%= f.text_field :name %></td>
                          </tr>
                          <tr>
                              <td>Description:</td>
                              <td><%= f.text_area :description, :size=>"23x10" %></td>
                          </tr>
                          <tr>
                              <td>Asset type:</td>
                              <td><%= f.collection_select :asset_type_id, AssetType.all, :id, :name %> or <%=  link_to "Add new.", :controller => "asset_types", :action => "new" %></td>
                          </tr>
                          <tr>
                              <td>Asset group:</td>
                              <td id='asset_groups_td'>
                                <%= render :partial => 'asset_groups/asset_groups_dropdown', :locals => { :asset => @asset } %>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              <% end %>
            </div>
            <div class="left;">
              <% form_tag :action => "clone" do %>

                 <table id="rounded-corner" summary="Asset Properties">
                      <thead>
                          <tr>
                              <th scope="col" class="rounded-company" colspan="2">Or Clone an existing one:</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <td class="rounded-foot-left">&nbsp;</td>
                              <td class="rounded-foot-right">
                                  <%= submit_tag 'Clone it' %>
                              </td>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr>
                              <td colspan="2" align="center">
                                  <%= select_tag :existing_custom_field, option_groups_from_collection_for_select(AssetType.all, :assets, :name, :id, :name, nil), :size => 18, :class => "clonable-fields" %>  
                              </td>
                          </tr>
                          <tr>
                              <td>Name:</td>
                              <td><%= text_field_tag :name %></td>
                          </tr>
                      </tbody>
                  </table>
              <% end %>
            </div>
            <br class="clear-both" />
            <% content_for :header_tags do %>
                <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
                <%= stylesheet_link_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
                <%= javascript_include_tag 'facebox', :plugin => 'redmine_asset_tracker' %>
            <% end %>
        </div>
    </div>
</div>