<div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1><%=  @asset.name %></h1>
        </div>
        <div class="inner-container">
        <div class="inner-image-container">
            <%= render :partial => 'edit_asset_image', :locals => { :asset => @asset, :user => @user, :edit_enabled => false } %>
            <br class="clear-both" />
        </div>
            <div class="asset-properties">
              <table id="rounded-corner" summary="Asset Properties">
                  <thead>
                      <tr>
                          <th scope="col" class="rounded-company"><%= l(:property) %></th>
                          <th scope="col" class="rounded-q1"><%= l(:value) %></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <td class="rounded-foot-left">&nbsp;</td>
                          <td class="rounded-foot-right">
                            <% if @user && @user.admin %>
                                <%= image_tag "/images/edit.png" %>
                                <%= link_to l(:edit), :controller => "assets", :action => "edit", :id => @asset %>
                            <% end %>
                          </td>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr>
                          <td><%= l(:name) %></td>
                          <td><%= @asset.name %></td>
                      </tr>
                      <tr>
                          <td><%= l(:description) %></td>
                          <td><%= @asset.description %></td>

                      </tr>
                      <% @asset.custom_values.each do |v| %>
                          <% if @asset.asset_custom_fields.include? v.custom_field %>
                              <tr>
                                  <td><%= v.custom_field.name %>:</td>
                                  <td><%= v.value %></td>
                              </tr>
                          <% end %>
                      <% end %>
                      <% if !@asset.attachments.empty? %>
                          <tr>
                            <td colspan="2" align="center"><strong><%= l(:attachments) %></strong></td>
                          </tr>
                          <% @asset.attachments.each do |a| %>
                              <% if !a.is_private %>
                                  <tr>
                                      <td colspan="2">
                                          <a href="../show_attachment/ <%= a.id.to_s %>">
                                            <%= image_tag '/images/save.png' %><%= a.filename %>
                                          </a>
                                      </td>
                                  </tr>
                              <% end %>
                          <% end %>
                      <% end %>
                  </tbody>
              </table>
                
            </div>
          <br class="clear-both" />
        </div>
    </div>
  <br />
</div>

<% unless @reservations.empty? %>
  <div class="center-main-container" align="center">
    <div class="center-container">
        <div class="center-main-container-title">
            <h1><%= l(:list_of_active_reservations) %></h1>
        </div>
        <div class="inner-container" id="inner_container">
          <div id="result">
            <%= render :partial => 'reservations/sorted_list_of_reservations', :locals => { :reservations => @reservations, :criteria => 'ASSET_NAME', :direction => 'DESC', :user => User.current } %>
          </div>
        </div>
    </div>
  </div>
<% end %>
</br></br>

<% unless @recurring_reservations.empty? %>
  <div class="center-main-container" align="center">
    <div class="center-container">
      <div class="center-main-container-title">
            <h1><%= l(:list_of_active_recurring_reservations) %></h1>
        </div>
        <div class="inner-container" id="inner_container">
          <div id="result">
            <%= render :partial => 'reservations/sorted_list_of_recurring_reservations', :locals => { :reservations => @recurring_reservations, :criteria => 'ASSET_NAME', :direction => 'DESC', :user => User.current } %>
          </div>
        </div>
<% end %>

<div align="center">
   <%= link_to l(:back_to_assets_list), :controller => "asset_types", :action => "index" %>  
</div>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'assets', :plugin => 'redmine_asset_tracker' %>
<% end %>